div{
  height: 100px;
  border: 1px solid #000;
  margin-bottom: 10px;
  text-align: center;
  width: 30%;
  /*float:left;*/
}

p {
  font-family: Helvetica;
}

.half {
  float:left;
  margin: 10px;
}

.half:nth-child(3){
  clear: both;
}
.full{
  clear: both;
  margin: 10px;
}
